<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Messenger </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function(){
        var socket = io.connect('http://messagingflask-env.eba-h47bja3v.us-east-1.elasticbeanstalk.com/')
        //var socket = io.connect("http://127.0.0.1:5000")
        socket.on('connect', function(){
            socket.send('User Connected');
        });

        socket.on('message', function(data){
            $('#messages').append($('<p>').text(data));
        });

        $('#sendButton').on('click', function(){
            socket.send($('#username').val() + ': ' + $('#message').val());
            $('#message').val('');
        });
    })

</script>
<div id="messages">
</div>
    <input type="text" id="username" placeholder="Your username">
    <input type="text" id="message" placeholder="Your message">
    <button id="sendButton">Send Message</button>
</body>
</html>